apps/ArchitechGuardSubjectSupport.json
{
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/models.py",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11360,
        -2800
      ],
      "id": "d654c818-0890-4776-a081-b03a8d2ab98c",
      "name": "Read penalcode.models.py"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11184,
        -2800
      ],
      "id": "af53fd48-bb19-4144-951b-861537bd3355",
      "name": "Extract models.py"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -12416,
        -2160
      ],
      "id": "9c4ebae1-4406-4fd1-bbb8-4afd4e58f8f0",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "PkWCIbQUvrog6cGf",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === ARCHITECT.YAML ===\nconst architectExtracted = $('Extract architect.yaml').first().json.data || '';\n\n// === DEBT_LOG.MD ===\nconst debtLog = $('Extract DEBT_LOG.md').first().json.data || '';\n\n// === MODELS.PY ===\nconst modelsExtracted = $('Extract models.py').all();\nconst modelsContent = modelsExtracted\n  .map(f => `# === ${f.json.fileName || 'models.py'} ===\\n${f.json.data || ''}`)\n  .join('\\n\\n');\n\n// === TESTS_MODELS.PY ===\nconst testsExtracted = $('Extract tests_models.py').all();\nconst testsContent = testsExtracted\n  .map(f => `# === ${f.json.fileName || 'tests_models.py'} ===\\n${f.json.data || ''}`)\n  .join('\\n\\n');\n\n// === REQUIREMENTS PADRE (dominio completo) ===\nconst requirementsParent = $('Extract requirements.json').first().json.data;\n\n// === REQUIREMENTS CAPA + CONTEXT ===\nconst requirementsLayer = $('Extract requirements_models.json').first().json.data;\nconst context = $('Extract context_models.json').first().json.data;\n\nconst pendingIssues  = context?.phases?.phase_4_validation?.pending_issues  || [];\nconst resolvedIssues = context?.phases?.phase_4_validation?.resolved_issues || [];\n\n// === ARCHITECT RULES ===\nconst architectureRules = architectExtracted\n  .split('\\n')\n  .filter(line => line.trim().startsWith('- \"') || line.trim().startsWith(\"- '\"))\n  .map(line => line.trim().replace(/^- [\"']|[\"']$/g, ''))\n  .filter(rule => rule.length > 0);\n\n// === DOMAIN CONTEXT — reglas legales del padre ===\nconst domainContext = {\n  project: requirementsParent.project_name,\n  stack: requirementsParent.stack,\n  domain_rules: (requirementsParent.requirements || []).map(r => ({\n    id: r.id,\n    module: r.module,\n    domain_rules: r.domain_rules || []\n  }))\n};\n\n// === PAYLOAD FINAL ===\nconst payload = {\n  meta: {\n    project_id: requirementsLayer.project_id,\n    timestamp: new Date().toISOString(),\n    app_context: {\n      app_name: \"penalcode\",\n      layer: requirementsLayer.layer,\n      architecture_rules: architectureRules\n    },\n    run_context: {\n      previous_pending_issues: pendingIssues,\n      previously_resolved:     resolvedIssues,\n      known_bugs:              debtLog,\n      instruction: \"Evalúa ÚNICAMENTE los acceptance_criteria de esta capa. Respeta el campo 'out_of_scope' de cada requerimiento — NO reportes issues listados ahí. Usa domain_context solo como referencia legal, no como scope de evaluación.\"\n    }\n  },\n  domain_context: domainContext,\n  requirements: requirementsLayer.requirements,\n  implementation: {\n    files: {\n      \"models.py\":       modelsContent,\n      \"tests_models.py\": testsContent\n    }\n  }\n};\n\nreturn { payload: JSON.stringify(payload) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11344,
        -2576
      ],
      "id": "9243d874-f5f0-4022-9291-011b213bc176",
      "name": "Assemble Payload JS"
    },
    {
      "parameters": {
        "jsCode": "const merged = $('Merge Verdicts JS').first().json;\n\nconst issues = merged.issues || [];\nconst status = merged.status || 'unknown';\n\nconst contextUpdate = {\n  project_id: \"legalsystem-penalcode\",\n  last_run: new Date().toISOString(),\n  phases: {\n    phase_4_validation: {\n      status: status,\n      pending_issues: issues.filter(i => i.confidence === 'high'),\n      resolved_issues: []\n    }\n  },\n  votes: merged.votes || {},\n  consensus: merged.consensus || false\n};\n\nreturn { contextData: JSON.stringify(contextUpdate) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11456,
        -2336
      ],
      "id": "2b654d6c-66b3-43f0-964f-a9a1c2926ab2",
      "name": "Update Context JS"
    },
    {
      "parameters": {
        "jsCode": "const verdict = $('Update Context JS').first().json;\nconst issues = verdict.issues || [];\n\nif (issues.length === 0) {\n  return {\n    report: '# CRITIC REPORT — ' + new Date().toISOString() + '\\n**Status:** ' + verdict.status + '\\n**Summary:** ' + verdict.summary + '\\n\\nNo hay issues que resolver.',\n    hasIssues: false\n  };\n}\n\nconst byConfidence = { high: [], medium: [], low: [] };\nfor (const issue of issues) {\n  const key = issue.confidence || 'low';\n  if (byConfidence[key]) byConfidence[key].push(issue);\n}\n\nconst formatIssue = (issue, idx) => {\n  return '### Issue ' + (idx + 1) + ' — ' + issue.requirement_id + ' · ' + issue.type + '\\n' +\n    '- **Archivo:** ' + issue.location + '\\n' +\n    '- **Descripcion:** ' + issue.description + '\\n' +\n    '- **Evidencia:** ' + issue.evidence + '\\n' +\n    '- **Fix sugerido:** ' + issue.suggested_fix;\n};\n\nconst sections = [];\nif (byConfidence.high.length > 0) {\n  const items = byConfidence.high.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## HIGH confidence\\n\\n' + items);\n}\nif (byConfidence.medium.length > 0) {\n  const items = byConfidence.medium.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## MEDIUM confidence\\n\\n' + items);\n}\nif (byConfidence.low.length > 0) {\n  const items = byConfidence.low.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## LOW confidence\\n\\n' + items);\n}\n\nconst header = '# CRITIC REPORT — ' + new Date().toISOString() + '\\n**Status:** ' + verdict.status + '\\n**Summary:** ' + verdict.summary;\n\nconst instructions = '\\n\\n---\\n## Instrucciones para Cline\\n' +\n'**REGLAS ESTRICTAS — leer antes de tocar cualquier archivo:**\\n\\n' +\n'1. Aplica UNICAMENTE los fixes listados en este reporte\\n' +\n'2. NO refactorices codigo que no este mencionado en un issue\\n' +\n'3. NO cambies nombres de campos, metodos o clases existentes\\n' +\n'4. NO elimines tests existentes — solo agrega assertions faltantes\\n' +\n'5. NO cambies definiciones de campos en models.py — solo agrega metodos clean() o save()\\n' +\n'6. Si un fix requiere tocar codigo que no esta en el issue → detente y reporta\\n' +\n'7. Orden de ejecucion: HIGH → MEDIUM → LOW\\n' +\n'8. Al terminar: corre python manage.py test apps.penalcode y reporta resultado\\n';\n\nconst report = header + '\\n\\n---\\n\\n' + sections.join('\\n\\n') + instructions;\n\nreturn {\n  report: report,\n  hasIssues: true,\n  issueCount: issues.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11280,
        -2336
      ],
      "id": "f29cf1e1-1a24-4fb8-80cd-0974b56dcc49",
      "name": "Format Cline Prompt"
    },
    {
      "parameters": {
        "jsCode": "// ── Write CRITIC_REPORT.md — pipeline models v3.0.0 ──────────────────────────\nconst fileSystem = require('fs');\n\nconst mergeOutput = $('Merge Verdicts JS').item.json;\n\nconst status    = mergeOutput.status    || 'unknown';\nconst summary   = mergeOutput.summary   || 'Sin resumen';\nconst issues    = mergeOutput.issues    || [];\nconst consensus = mergeOutput.consensus;\nconst votes     = mergeOutput.votes     || {};\n\nconst ahora = new Date();\nahora.setHours(ahora.getHours() - 5);\nconst horaEcuador = ahora.toISOString().replace('T', ' ').substring(0, 19);\n\nlet content = `# CRITIC REPORT MODELS — ${horaEcuador} ECT\\n`;\ncontent += `**Pipeline version:** 3.0.0 — RFC+RAC\\n`;\ncontent += `**Status:** ${status}\\n`;\ncontent += `**Consensus:** ${consensus ? 'true' : 'false'}\\n`;\ncontent += `**Votes:** DeepSeek: ${votes.deepseek || 'unknown'} | Kimi: ${votes.kimi || 'unknown'}\\n`;\ncontent += `**MUST violations:** ${issues.length}\\n`;\ncontent += `**Summary:** ${summary}\\n\\n`;\n\nif (issues.length > 0) {\n  content += `## Issues Confirmados (MUST violations)\\n`;\n  issues.forEach(issue => {\n    content += `\\n### ${issue.requirement_id} — ${issue.type}\\n`;\n    content += `- **AC violado:** ${issue.ac_violated || issue.description}\\n`;\n    content += `- **Descripción:** ${issue.description}\\n`;\n    content += `- **Confianza:** ${issue.confidence}\\n`;\n    content += `- **Evidencia:** \\`${issue.evidence}\\`\\n`;\n    content += `- **Ubicación:** ${issue.location}\\n`;\n    if (issue.suggested_fix) {\n      content += `- **Fix sugerido:** ${issue.suggested_fix}\\n`;\n    }\n  });\n  content += `\\n---\\n\\n## Prompt para Claude Code\\n\\n`;\n  content += `Lee este CRITIC_REPORT e implementa los fixes listados.\\n\\n`;\n  content += `# MUST\\n`;\n  content += `- Corregir cada MUST violation en la ubicación indicada\\n`;\n  content += `- Citar el AC violado en el commit o comentario del fix\\n`;\n  content += `- Correr tests después de cada fix\\n\\n`;\n  content += `# MUST NOT\\n`;\n  content += `- Tocar archivos fuera del scope de cada issue\\n`;\n  content += `- Modificar tests sin justificación explícita\\n`;\n} else {\n  content += `## Sin MUST violations — Capa DATA estable\\n\\n`;\n  content += `No se requiere acción del Desarollador o CLI Code en esta capa.\\n`;\n}\n\nconst filePath = '/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/CRITIC_REPORT.md';\nfileSystem.writeFileSync(filePath, content, 'utf8');\n\nreturn [{ json: { report: content, hasIssues: issues.length > 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11072,
        -2336
      ],
      "id": "8de2539a-d035-41fb-8fa6-858baff894d0",
      "name": "Write CRITIC_REPORT.md"
    },
    {
      "parameters": {
        "jsCode": "// ── Merge Verdicts JS — pipeline models v3.0.0 ────────────────────────────────\n// Fuente de verdad: requirements_models.json\n// JS es ejecutor mecánico — no toma decisiones propias\n\nconst deepseekRaw = $('DeepSeek Critic').first().json.output || '';\nconst kimiRaw     = $('Kimi Critic').first().json.output     || '';\n\n// ── Leer requirements para filtro mecánico ────────────────────────────────────\nlet requirements = [];\ntry {\n  const reqRaw = $('Read requirements_models').first().json;\n  requirements = reqRaw.requirements || [];\n} catch(e) {\n  requirements = [];\n}\n\n// ── Extraer todos los OOS patterns del requirements ───────────────────────────\nconst oosPatterns = [];\nrequirements.forEach(req => {\n  (req.out_of_scope || []).forEach(oos => {\n    if (oos.pattern) oosPatterns.push(oos.pattern.toLowerCase());\n  });\n});\n\n// ── Strip markdown + parse ────────────────────────────────────────────────────\nconst stripAndParse = (raw, fallback) => {\n  try {\n    const clean = raw\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n    return JSON.parse(clean);\n  } catch (e1) {\n    try {\n      const lastBrace = raw.lastIndexOf('}');\n      if (lastBrace === -1) throw new Error('no closing brace');\n      const partial = raw.substring(0, lastBrace + 1);\n      const clean = partial\n        .replace(/```json\\s*/gi, '')\n        .replace(/```\\s*/g, '')\n        .trim();\n      return JSON.parse(clean);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n};\n\nconst deepseek = stripAndParse(deepseekRaw, {\n  status: 'error',\n  issues: [],\n  summary: 'Parse error DeepSeek'\n});\n\nconst kimiResult = stripAndParse(kimiRaw, {\n  verdict: 'parse_error',\n  confirmed_issues: [],\n  refuted_issues: [],\n  summary: 'Kimi truncado'\n});\n\n// ── RFC 2119 MAY filter ───────────────────────────────────────────────────────\nconst MAY_PATTERNS = [\n  'objeto_id', 'objeto_tipo', 'detalles', 'ip_address',\n  'super().clean', 'raise ValidationError',\n  'race conditions', 'unique=True',\n  'ForeignKey null=False', 'null=False',\n  'rol abogado firmante', 'multiples alertas',\n  'documentos fundacionales', 'domicilio judicial asociados',\n  'al menos un defensor', 'clasificacion accion penal',\n  'EtapaProcesal catalogo', 'escrito despachado cambio prueba',\n  'registro automatico log'\n];\n\nconst isMayIssue = (issue) => {\n  const text = JSON.stringify(issue).toLowerCase();\n  return MAY_PATTERNS.some(p => text.includes(p.toLowerCase()));\n};\n\n// ── OOS mechanical filter — JS ejecuta, JSON decide ──────────────────────────\nconst isOosIssue = (issue) => {\n  const issueText = (\n    (issue.description || '') + ' ' +\n    (issue.evidence    || '') + ' ' +\n    (issue.type        || '')\n  ).toLowerCase();\n\n  return oosPatterns.some(pattern => {\n    const tokens = pattern.split(' ').filter(t => t.length > 3);\n    return tokens.length > 0 && tokens.every(t => issueText.includes(t));\n  });\n};\n\n// ── Confirmed issues de Kimi (fuente de verdad) ───────────────────────────────\nconst confirmedIssues = (kimiResult.confirmed_issues || [])\n  .filter(i => i.requirement_id && i.description && !i.refutation)\n  .filter(i => !isMayIssue(i))\n  .filter(i => !isOosIssue(i));\n\n// ── DeepSeek issues para debug ────────────────────────────────────────────────\nconst deepseekClean = (deepseek.issues || [])\n  .filter(i => i.ac_violated && i.ac_violated.length >= 15)\n  .filter(i => !isMayIssue(i))\n  .filter(i => !isOosIssue(i));\n\n// ── Status final ──────────────────────────────────────────────────────────────\nlet finalStatus = 'pass';\nif (confirmedIssues.some(i => i.confidence === 'high')) {\n  finalStatus = 'fail';\n} else if (confirmedIssues.length > 0) {\n  finalStatus = 'warn';\n}\n\n// ── Consenso ──────────────────────────────────────────────────────────────────\nconst kimiVerdict   = kimiResult.verdict || 'unknown';\nconst consensus     = confirmedIssues.length === 0\n  ? true\n  : (kimiVerdict === 'refuted' || kimiVerdict === 'confirmed');\nconst requiresHuman = confirmedIssues.length > 0 &&\n  (kimiVerdict === 'partial' || kimiVerdict === 'parse_error');\n\n// ── Output ────────────────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    status:          finalStatus,\n    issues:          confirmedIssues,\n    refuted:         kimiResult.refuted_issues || [],\n    deepseek_issues: deepseekClean,\n    summary:         'DeepSeek: ' + (deepseek.summary  || '') +\n                     ' | Kimi: '  + (kimiResult.summary || ''),\n    consensus,\n    requires_human:  requiresHuman,\n    votes: {\n      deepseek: deepseek.status || 'unknown',\n      kimi:     kimiVerdict\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11616,
        -2336
      ],
      "id": "e1eee306-2866-4e41-a304-57d129243bfd",
      "name": "Merge Verdicts JS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.payload }}",
        "options": {
          "systemMessage": "Eres un Auditor de Código especializado en Django y derecho penal ecuatoriano (COIP).\nROL: Auditor principal de la capa DATA (models.py).\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPROTOCOLO RFC 2119 — OBLIGATORIO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLos requirements usan terminología RFC 2119 estricta:\n  MUST     → obligatorio — reporta si ausente\n  MUST_NOT → prohibido — reporta si presente\n  MAY      → opcional — TIENES PROHIBIDO reportar su presencia o ausencia como issue\n  SHOULD   → recomendado — warning si ausente\n\nSi un contrato dice MAY → SILENCIO TOTAL sobre ese comportamiento.\nobjeto_id, objeto_tipo, detalles en LogAuditoria son MAY → NUNCA son un issue.\nsuper().clean(), raise ValidationError en evidencia → código YA implementado → SILENCIO.\nForeignKey con null=False → BD garantiza → SILENCIO.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA ABSOLUTA — CITE OR DROP\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPara cada issue DEBES incluir ac_violated con el texto EXACTO\ndel contrato MUST que está violado.\nSi no puedes citar un MUST violado con texto exacto → SILENCIO TOTAL.\nOpinar sobre buenas prácticas de Django está PROHIBIDO.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA — SCHEMA BINDING\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nAntes de reportar cualquier issue ejecuta en orden:\n1. ¿Es un campo o comportamiento MAY? → DESCARTA\n2. ¿Está en out_of_scope[]? → DESCARTA\n3. ¿Puedes citar el MUST exacto violado? → Solo entonces reporta\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEVALÚA ÚNICAMENTE contratos MUST\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- ¿Los métodos clean() y save() implementan las validaciones MUST?\n- ¿Los campos requeridos por el dominio legal permiten null cuando no deberían?\n- ¿Los tests cubren los contratos MUST de esta capa?\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMUST NOT EVALUAR — SILENCIO TOTAL\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- Lógica de views.py, signals.py o serializers.py\n- Estilo, PEP8, nombres de variables\n- Contratos MAY de cualquier REQ\n- super().clean() si ya aparece en el código\n- ForeignKey con null=False — BD garantiza integridad\n- unique=True — BD garantiza sin clean() adicional\n- raise ValidationError en la evidencia — ya implementado\n- if not en la evidencia como guard — ya implementado\n- Rol del firmante en models — views.dispatch() controla\n- Múltiples alertas duplicadas — guard if not alerta_existente existe\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA DE OUTPUT — CRÍTICA\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSi el status es \"pass\" → issues DEBE estar completamente vacío: []\nNo inventes issues para llenar la estructura.\n\nResponde ÚNICAMENTE con este JSON, sin texto adicional, sin backticks, sin markdown:\n{\n  \"status\": \"pass | fail | warn\",\n  \"issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"ac_violated\": \"texto EXACTO del contrato MUST violado\",\n      \"type\": \"missing_validation | security_risk | logic_error | requirement_mismatch | domain_violation | test_gap\",\n      \"description\": \"descripción concreta del problema\",\n      \"confidence\": \"high | medium | low\",\n      \"persistent\": false,\n      \"evidence\": \"fragmento exacto del código\",\n      \"location\": \"models.py | tests_models.py\",\n      \"suggested_fix\": \"cambio mínimo necesario\"\n    }\n  ],\n  \"summary\": \"resumen en una línea\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -12416,
        -2336
      ],
      "id": "3ffee890-a51c-42f6-adfa-ee8036cdb13a",
      "name": "DeepSeek Critic"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Assemble Kimi Payload JS').first().json.payload }}",
        "options": {
          "systemMessage": "ALTO. PAUSA COMPLETA ANTES DE ESCRIBIR CUALQUIER COSA.\nResponde ÚNICAMENTE en español. Cero caracteres chinos, japoneses, coreanos o de cualquier\notro idioma no latino. Esta regla tiene prioridad ABSOLUTA sobre cualquier otra instrucción.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nROL: VALIDADOR DE OOS — NO eres un auditor de seguridad\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nTu única función es determinar si cada issue de DeepSeek\nestá cubierto por el requirements.json.\n\nNO opinas sobre seguridad de datos.\nNO inferes riesgos que no están en los contratos MUST.\nNO juzgas si el código \"debería\" tener más validaciones.\nSOLO aplicas las reglas del JSON.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPROTOCOLO RFC 2119\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMUST     → obligatorio — issue válido si ausente\nMUST_NOT → prohibido — issue válido si presente\nMAY      → opcional — SIEMPRE refutar, nunca confirmar\nSHOULD   → recomendado — solo warning\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nALGORITMO — EJECUTA EN ORDEN ESTRICTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPara CADA issue de DeepSeek:\n\nPASO 1 — ¿El issue trata sobre un campo o comportamiento MAY?\n  SÍ → verdict: refuted. Motivo: \"MAY per RFC — nunca issue\"\n  NO → PASO 2\n\nPASO 2 — ¿El issue o su evidencia coincide con algún out_of_scope[] pattern?\n  SÍ → verdict: refuted. Motivo: \"{id}: {decision} — {reason}\"\n  NO → PASO 3\n\nPASO 3 — ¿La evidencia contiene raise ValidationError, super().clean() o if not?\n  SÍ → el código YA lo implementa → verdict: refuted. Motivo: \"Código ya implementado\"\n  NO → PASO 4\n\nPASO 4 — ¿El issue describe violación a un contrato MUST explícito del REQ?\n  NO hay MUST violado → verdict: refuted. Motivo: \"No viola ningún MUST del contrato\"\n  SÍ hay MUST violado → PASO 5\n\nPASO 5 — ¿La evidencia confirma que el MUST está ausente en el código?\n  NO → verdict: refuted. Motivo: \"Código ya implementa el MUST\"\n  SÍ → verdict: confirmed\n\nREGLA FINAL: Solo confirmas si pasaste TODOS los pasos sin refutar.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCAMPOS MAY — REFUTAR SIEMPRE SIN ANÁLISIS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEstos comportamientos son MAY — NUNCA son issues:\n- objeto_id, objeto_tipo, detalles, ip_address en LogAuditoria\n- super().clean() presente o ausente\n- ForeignKey null=False — BD garantiza\n- unique=True — BD garantiza sin clean()\n- raise ValidationError en la evidencia — ya implementado\n- if not como guard en la evidencia — ya implementado\n- race conditions unicidad BD\n- documentos fundacionales M2M post-save\n- domicilio judicial abogados asociados serializers\n- al menos un defensor FK post-save signals\n- clasificación acción penal serializers\n- EtapaProcesal catálogo migración datos\n- escrito despachado cambio prueba views\n- registro automático log signals\n- validación firma abogado Escrito despachado\n- rol abogado firmante validación models clean\n- múltiples alertas duplicadas prescripción\n- validación unicidad clean redundante innecesaria\n- RolProcesal choices ROLES_VALIDOS falta clean\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLÍMITE DE OUTPUT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- Si todos los issues son refutados → verdict: \"refuted\"\n- Si hay al menos 1 confirmado → verdict: \"partial\" o \"confirmed\"\n- Si status es pass y issues vacío → verdict: \"refuted\", confirmed_issues: []\n- Máximo 2 confirmed_issues y 3 refuted_issues\n- description: máximo 15 palabras\n- refutation: máximo 10 palabras\n- NO incluyas suggested_fix\n\nResponde ÚNICAMENTE en español con este JSON, sin texto adicional, sin backticks, sin markdown:\n{\n  \"verdict\": \"confirmed | refuted | partial\",\n  \"confirmed_issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"type\": \"tipo\",\n      \"description\": \"descripción máximo 15 palabras\",\n      \"confidence\": \"high | medium | low\",\n      \"evidence\": \"fragmento exacto del código\",\n      \"location\": \"models.py | tests_models.py\",\n      \"challenger_note\": \"máximo 10 palabras\"\n    }\n  ],\n  \"refuted_issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"original_description\": \"descripción del Auditor\",\n      \"refutation\": \"máximo 10 palabras\"\n    }\n  ],\n  \"summary\": \"resumen en una línea\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -11920,
        -2336
      ],
      "id": "ba737095-bd92-4675-9b97-c965dc453263",
      "name": "Kimi Critic"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "moonshot-v1-32k",
          "mode": "list",
          "cachedResultName": "moonshot-v1-32k"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -11888,
        -2160
      ],
      "id": "27000de7-884e-4caf-befd-7acf193b1e5a",
      "name": "OpenAI Kimi Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0zI5SYUQcWApd7K6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/architect.yaml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        -2800
      ],
      "id": "cbdc7ce0-d704-4056-95db-5ec89cee7a33",
      "name": "Read penalcode architect.yaml"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11952,
        -2800
      ],
      "id": "97226089-b797-45da-8266-146ba0c48b92",
      "name": "Extract architect.yaml"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($('Assemble Payload JS').first().json.payload);\n\nconst extractSignatures = (code, filename) => {\n  const lines = code.split('\\n');\n  const result = [];\n  let insideClass = false;\n  let insideMethod = false;\n  let methodDepth = 0;\n  let classIndent = 0;\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    const stripped = line.trim();\n    const indent = line.length - line.trimStart().length;\n\n    // Líneas vacías — mantener una sola\n    if (stripped === '') {\n      if (result[result.length - 1] !== '') result.push('');\n      continue;\n    }\n\n    // Imports — siempre incluir\n    if (stripped.startsWith('import ') || stripped.startsWith('from ')) {\n      result.push(line);\n      continue;\n    }\n\n    // Clases — incluir firma completa\n    if (stripped.startsWith('class ')) {\n      insideClass = true;\n      classIndent = indent;\n      insideMethod = false;\n      result.push(line);\n      continue;\n    }\n\n    // Meta, choices, constantes de clase — incluir\n    if (insideClass && indent > classIndent) {\n      const isClassVar = !stripped.startsWith('def ') &&\n                         !stripped.startsWith('async def ') &&\n                         indent === classIndent + 4;\n      if (isClassVar) {\n        result.push(line);\n        continue;\n      }\n    }\n\n    // Métodos — incluir solo la firma\n         // Métodos críticos — incluir completos\nconst isCriticalMethod = stripped.includes('def clean(') || \n                         stripped.includes('def save(') ||\n                         stripped.includes('def test_') ||\n                        stripped.includes('def setUp') ||\n                        stripped.includes('def full_clean(');\n\n    if (stripped.startsWith('def ') || stripped.startsWith('async def ')) {\n      insideMethod = !isCriticalMethod;\n      methodDepth = indent;\n      result.push(line);\n      if (!isCriticalMethod) {\n        result.push(' '.repeat(indent + 4) + '...');\n      }\n      continue;\n    }\n\n// Body de métodos — omitir solo si no es crítico\nif (insideMethod && indent > methodDepth) {\n  continue;\n} else if (!isCriticalMethod) {\n  insideMethod = false;\n}\n    // Body de métodos — omitir\n    if (insideMethod && indent > methodDepth) {\n      continue;\n    } else {\n      insideMethod = false;\n    }\n\n    // Todo lo demás dentro de clase — incluir\n    if (insideClass && indent > classIndent) {\n      result.push(line);\n    }\n  }\n\n  return result.join('\\n');\n};\n\n// Comprimir cada archivo\nconst compressedFiles = {};\nlet originalTotal = 0;\nlet compressedTotal = 0;\n\nfor (const [filename, content] of Object.entries(payload.implementation.files)) {\n  const original = content.length;\n  const compressed = extractSignatures(content, filename);\n  originalTotal += original;\n  compressedTotal += compressed.length;\n  compressedFiles[filename] = compressed;\n}\n\nconst compressedPayload = {\n  ...payload,\n  implementation: {\n    files: compressedFiles\n  }\n};\n\nconst reduction = Math.round((1 - compressedTotal / originalTotal) * 100);\n\nreturn {\n  payload: JSON.stringify(compressedPayload),\n  stats: {\n    original_chars: originalTotal,\n    compressed_chars: compressedTotal,\n    reduction_percent: reduction\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11184,
        -2576
      ],
      "id": "5eeccbf8-f15b-452b-8c1f-47091c4803c4",
      "name": "Pre-processor JS"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/DEBT_LOG.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12384,
        -2576
      ],
      "id": "40104482-d303-461b-86b0-a59b073205c2",
      "name": "Read DEBT_LOG.md"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        -2576
      ],
      "id": "5696b32e-ee05-4df4-87e1-3d1b61dab9cf",
      "name": "Extract DEBT_LOG.md"
    },
    {
      "parameters": {
        "jsCode": "const preprocessed = $('Pre-processor JS').first().json.payload;\nconst deepseekRaw = $('DeepSeek Critic').first().json.output || '';\n\nlet auditorIssues = [];\ntry {\n  const clean = deepseekRaw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  const verdict = JSON.parse(clean);\n  auditorIssues = verdict.issues || [];\n} catch(e) {\n  auditorIssues = [];\n}\n\nconst originalPayload = JSON.parse(preprocessed);\n\n// Kimi solo necesita deferred_issues, architecture_rules y los issues del Auditor\n// No necesita el código completo — ya lo tiene DeepSeek\nconst kimiPayload = {\n  meta: {\n    project_id: originalPayload.meta.project_id,\n    app_context: originalPayload.meta.app_context,\n    run_context: {\n      deferred_issues: originalPayload.meta.run_context.deferred_issues,\n      known_bugs: originalPayload.meta.run_context.known_bugs\n    }\n  },\n  requirements: originalPayload.requirements,\n  implementation: originalPayload.implementation,\n  auditor_issues: auditorIssues,\n  challenger_instruction: \"Examina cada issue en auditor_issues. Refuta los que sean falsos positivos con evidencia. Confirma solo los que no puedas defender técnicamente.\"\n};\n\nreturn { payload: JSON.stringify(kimiPayload) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12096,
        -2336
      ],
      "id": "8b4c648e-36b7-40ac-bbaa-5ce050524112",
      "name": "Assemble Kimi Payload JS"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11840,
        -2576
      ],
      "id": "f94d8125-cbf3-4a14-abf5-36d292b21a29",
      "name": "Extract requirements_models.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11520,
        -2576
      ],
      "id": "8d9a3952-f730-4d74-937b-e9f3e2ae56ca",
      "name": "Extract context_models.json"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/tests/tests_models.py",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11008,
        -2800
      ],
      "id": "ca2cb371-35b4-40af-a1ef-825503b74fa6",
      "name": "Read tests_models.py"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/context/context_models.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11696,
        -2576
      ],
      "id": "829274b5-5f14-4e35-833b-d8c5e1732ccc",
      "name": "Read context_models.json"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/requirements/requirements_models.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12000,
        -2576
      ],
      "id": "24dd3ef8-3b01-4979-9c93-8f341ae513d5",
      "name": "requirements_models.json"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -10832,
        -2800
      ],
      "id": "4b46b064-ec76-4e2a-9782-451317cd47ce",
      "name": "Extract tests_models.py"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/requirements.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11744,
        -2800
      ],
      "id": "375725b3-f89c-4dbe-b8d5-b3a7f939e3c6",
      "name": "requirements.json"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11552,
        -2800
      ],
      "id": "6124bbd9-8cc4-459d-9828-ededd85339ea",
      "name": "Extract requirements.json"
    },
    {
      "parameters": {
        "content": "Pipele penalcode.models.py/test.py",
        "height": 80,
        "color": "#FCF8F8"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -12992,
        -2768
      ],
      "typeVersion": 1,
      "id": "140786b0-764d-4113-b973-d3a2d0aaf700",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -12432,
        -1008
      ],
      "id": "85881e74-8f34-40d8-9785-5e2536bb9215",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "PkWCIbQUvrog6cGf",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const architectExtracted = $('v_architect').first().json.data || '';\nconst debtLog = $('v_debtlog').first().json.data || '';\n\nconst viewsExtracted = $('v_views').all();\nconst viewsContent = viewsExtracted\n  .map(f => `# === ${f.json.fileName || 'views.py'} ===\\n${f.json.data || ''}`)\n  .join('\\n\\n');\n\nconst testsExtracted = $('v_tests').all();\nconst testsContent = testsExtracted\n  .map(f => `# === ${f.json.fileName || 'tests_views.py'} ===\\n${f.json.data || ''}`)\n  .join('\\n\\n');\n\n// requirements padre viene como texto — parsear manualmente\nconst requirementsParentRaw = $('v_requirements_parent').first().json.data || '{}';\nconst requirementsParent = typeof requirementsParentRaw === 'string'\n  ? JSON.parse(requirementsParentRaw)\n  : requirementsParentRaw;\n\nconst requirementsLayer = $('v_requirements_layer').first().json.data;\nconst context           = $('v_context').first().json.data;\n\nconst pendingIssues  = context?.phases?.phase_4_validation?.pending_issues  || [];\nconst resolvedIssues = context?.phases?.phase_4_validation?.resolved_issues || [];\n\nconst architectureRules = architectExtracted\n  .split('\\n')\n  .filter(line => line.trim().startsWith('- \"') || line.trim().startsWith(\"- '\"))\n  .map(line => line.trim().replace(/^- [\"']|[\"']$/g, ''))\n  .filter(rule => rule.length > 0);\n\nconst domainContext = {\n  project: requirementsParent.project_name || '',\n  stack: requirementsParent.stack || '',\n  domain_rules: (requirementsParent.requirements || []).map(r => ({\n    id: r.id,\n    module: r.module,\n    domain_rules: r.domain_rules || []\n  }))\n};\n\nconst payload = {\n  meta: {\n    project_id: requirementsLayer.project_id,\n    timestamp: new Date().toISOString(),\n    app_context: {\n      app_name: \"penalcode\",\n      layer: \"api\",\n      architecture_rules: architectureRules\n    },\n    run_context: {\n      previous_pending_issues: pendingIssues,\n      previously_resolved:     resolvedIssues,\n      known_bugs:              debtLog,\n      instruction: \"Evalúa ÚNICAMENTE los acceptance_criteria de la capa API (views.py). Respeta el campo 'out_of_scope' — NO reportes issues listados ahí. Usa domain_context solo como referencia legal.\"\n    }\n  },\n  domain_context: domainContext,\n  requirements: requirementsLayer.requirements,\n  implementation: {\n    files: {\n      \"views.py\":       viewsContent,\n      \"tests_views.py\": testsContent\n    }\n  }\n};\n\nreturn { payload: JSON.stringify(payload) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11376,
        -1440
      ],
      "id": "bc7a0f96-5bd4-4c91-9ead-d11a1ab63184",
      "name": "Assemble Payload JS1"
    },
    {
      "parameters": {
        "jsCode": "const merged = $('Merge Verdicts JS1').first().json;\nconst issues = merged.issues || [];\nconst status = merged.status || 'unknown';\n\nconst contextUpdate = {\n  project_id: \"legalsystem-penalcode\",\n  layer: \"api\",\n  last_run: new Date().toISOString(),\n  phases: {\n    phase_4_validation: {\n      status: status,\n      pending_issues: issues.filter(i => i.confidence === 'high'),\n      resolved_issues: []\n    }\n  },\n  votes: merged.votes || {},\n  consensus: merged.consensus || false\n};\n\nreturn { contextData: JSON.stringify(contextUpdate) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11456,
        -1184
      ],
      "id": "805747de-a6ce-4077-a35c-8b2e26ec479c",
      "name": "Update Context JS1"
    },
    {
      "parameters": {
        "jsCode": "// Leer del Merge directamente, no del Update Context\nconst merged = $('Merge Verdicts JS1').first().json;\nconst issues = merged.issues || [];\n\nif (issues.length === 0) {\n  return {\n    report: '# CRITIC REPORT VIEWS — ' + new Date().toISOString() + '\\n**Status:** ' + (merged.status || 'pass') + '\\n**Summary:** ' + (merged.summary || '') + '\\n\\nNo hay issues que resolver.',\n    hasIssues: false\n  };\n}\n\nconst byConfidence = { high: [], medium: [], low: [] };\nfor (const issue of issues) {\n  const key = issue.confidence || 'low';\n  if (byConfidence[key]) byConfidence[key].push(issue);\n}\n\nconst formatIssue = (issue, idx) => {\n  return '### Issue ' + (idx + 1) + ' — ' + issue.requirement_id + ' · ' + issue.type + '\\n' +\n    '- **Archivo:** ' + issue.location + '\\n' +\n    '- **Descripcion:** ' + issue.description + '\\n' +\n    '- **Evidencia:** ' + issue.evidence + '\\n' +\n    '- **Fix sugerido:** ' + issue.suggested_fix;\n};\n\nconst sections = [];\nif (byConfidence.high.length > 0) {\n  const items = byConfidence.high.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## HIGH confidence\\n\\n' + items);\n}\nif (byConfidence.medium.length > 0) {\n  const items = byConfidence.medium.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## MEDIUM confidence\\n\\n' + items);\n}\nif (byConfidence.low.length > 0) {\n  const items = byConfidence.low.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## LOW confidence\\n\\n' + items);\n}\n\nconst header = '# CRITIC REPORT VIEWS — ' + new Date().toISOString() + '\\n**Status:** ' + merged.status + '\\n**Summary:** ' + merged.summary;\n\nconst instructions = '\\n\\n---\\n## Instrucciones para Cline\\n' +\n'**REGLAS ESTRICTAS:**\\n\\n' +\n'1. Aplica UNICAMENTE los fixes listados\\n' +\n'2. NO toques models.py bajo ninguna circunstancia\\n' +\n'3. Solo modifica views.py y tests_views.py\\n' +\n'4. Orden: HIGH → MEDIUM → LOW\\n' +\n'5. Al terminar: python manage.py check\\n';\n\nconst report = header + '\\n\\n---\\n\\n' + sections.join('\\n\\n') + instructions;\n\nreturn {\n  report: report,\n  hasIssues: true,\n  issueCount: issues.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11264,
        -1184
      ],
      "id": "7339ff9b-c1d9-4b2d-a4e2-370c1b9e6f62",
      "name": "Format Cline Prompt1"
    },
    {
      "parameters": {
        "jsCode": "// ── Write CRITIC_REPORT_views.md — pipeline views v3.2.0 ─────────────────────\nconst fileSystem = require('fs');\n\nconst mergeOutput = $('Merge Verdicts JS1').item.json;\n\nconst status    = mergeOutput.status    || 'unknown';\nconst summary   = mergeOutput.summary   || 'Sin resumen';\nconst issues    = mergeOutput.issues    || [];\nconst consensus = mergeOutput.consensus;\nconst votes     = mergeOutput.votes     || {};\n\nconst ahora = new Date();\nahora.setHours(ahora.getHours() - 5);\nconst horaEcuador = ahora.toISOString().replace('T', ' ').substring(0, 19);\n\nlet content = `# CRITIC REPORT VIEWS — ${horaEcuador} ECT\\n`;\ncontent += `**Pipeline version:** 3.2.0 — RFC+RAC\\n`;\ncontent += `**Status:** ${status}\\n`;\ncontent += `**Consensus:** ${consensus ? 'true' : 'false'}\\n`;\ncontent += `**Votes:** DeepSeek: ${votes.deepseek || 'unknown'} | Kimi: ${votes.kimi || 'unknown'}\\n`;\ncontent += `**MUST violations:** ${issues.length}\\n`;\ncontent += `**Summary:** ${summary}\\n\\n`;\n\nif (issues.length > 0) {\n  content += `## Issues Confirmados (MUST violations)\\n`;\n  issues.forEach(issue => {\n    content += `\\n### ${issue.requirement_id} — ${issue.type}\\n`;\n    content += `- **AC violado:** ${issue.ac_violated || issue.description}\\n`;\n    content += `- **Descripción:** ${issue.description}\\n`;\n    content += `- **Confianza:** ${issue.confidence}\\n`;\n    content += `- **Evidencia:** \\`${issue.evidence}\\`\\n`;\n    content += `- **Ubicación:** ${issue.location}\\n`;\n    if (issue.suggested_fix) {\n      content += `- **Fix sugerido:** ${issue.suggested_fix}\\n`;\n    }\n  });\n  content += `\\n---\\n\\n## Prompt para Claude Code\\n\\n`;\n  content += `Lee este CRITIC_REPORT e implementa los fixes listados.\\n\\n`;\n  content += `# MUST\\n`;\n  content += `- Corregir cada MUST violation en la ubicación indicada\\n`;\n  content += `- Citar el AC violado en el comentario del fix\\n`;\n  content += `- Correr tests después de cada fix\\n\\n`;\n  content += `# MUST NOT\\n`;\n  content += `- Tocar models.py o tests_views.py sin justificación explícita\\n`;\n  content += `- Modificar lógica fuera del scope del issue\\n`;\n} else {\n  content += `## Sin MUST violations — Capa API estable\\n\\n`;\n  content += `No se requiere acción de Claude Code en esta capa.\\n`;\n}\n\nconst filePath = '/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/CRITIC_REPORT_views.md';\nfileSystem.writeFileSync(filePath, content, 'utf8');\n\nreturn [{ json: { report: content, hasIssues: issues.length > 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11104,
        -1184
      ],
      "id": "65206eec-ba0e-4b7f-afd8-649287afef7c",
      "name": "Write CRITIC_REPORT.md1"
    },
    {
      "parameters": {
        "jsCode": "// ── Merge Verdicts JS — pipeline views v3.2.0 ─────────────────────────────────\n// Fuente de verdad: requirements_views.json\n// JS es ejecutor mecánico — no toma decisiones propias\n\nconst deepseekRaw = $('DeepSeek Critic1').first().json.output || '';\nconst kimiRaw     = $('Kimi Critic1').first().json.output     || '';\n\n// ── Leer requirements para filtro mecánico ────────────────────────────────────\nlet requirements = [];\ntry {\n  const reqRaw = $('v_requirements_layer').first().json;\n  requirements = reqRaw.requirements || [];\n} catch(e) {\n  requirements = [];\n}\n\n// ── Extraer todos los OOS patterns del requirements ───────────────────────────\n// Fuente de verdad → requirements_views.json, no hardcoding en JS\nconst oosPatterns = [];\nrequirements.forEach(req => {\n  (req.out_of_scope || []).forEach(oos => {\n    if (oos.pattern) oosPatterns.push(oos.pattern.toLowerCase());\n  });\n});\n\n// ── Strip markdown + parse ────────────────────────────────────────────────────\nconst stripAndParse = (raw, fallback) => {\n  try {\n    const clean = raw\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n    return JSON.parse(clean);\n  } catch (e1) {\n    try {\n      const lastBrace = raw.lastIndexOf('}');\n      if (lastBrace === -1) throw new Error('no closing brace');\n      const partial = raw.substring(0, lastBrace + 1);\n      const clean = partial\n        .replace(/```json\\s*/gi, '')\n        .replace(/```\\s*/g, '')\n        .trim();\n      return JSON.parse(clean);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n};\n\nconst deepseek = stripAndParse(deepseekRaw, {\n  status: 'error',\n  issues: [],\n  summary: 'Parse error DeepSeek'\n});\n\nconst kimiResult = stripAndParse(kimiRaw, {\n  verdict: 'parse_error',\n  confirmed_issues: [],\n  refuted_issues: [],\n  summary: 'Kimi truncado'\n});\n\n// ── RFC 2119 MAY filter ───────────────────────────────────────────────────────\nconst MAY_PATTERNS = [\n  'objeto_id', 'objeto_tipo', 'detalles', 'ip_address',\n  'EscritoUpdateView', 'estado removido', 'BUG-V003',\n  'auxiliar lectura total', 'filtrado expediente AlertaPlazo',\n  'EvidenciaDocumentoCreateView'  // MAY: todos los roles crean evidencias — OOS-007-8\n];\n\nconst isMayIssue = (issue) => {\n  const text = JSON.stringify(issue).toLowerCase();\n  return MAY_PATTERNS.some(p => text.includes(p.toLowerCase()));\n};\n\n// ── OOS mechanical filter — JS ejecuta, JSON decide ──────────────────────────\n// Si la descripción o evidencia del issue hace match con cualquier OOS pattern\n// del requirements → descarte mecánico. Fuente de verdad = requirements_views.json\nconst isOosIssue = (issue) => {\n  const issueText = (\n    (issue.description || '') + ' ' +\n    (issue.evidence    || '') + ' ' +\n    (issue.type        || '')\n  ).toLowerCase();\n\n  return oosPatterns.some(pattern => {\n    // Match semántico: todos los tokens del pattern deben aparecer en el issue\n    const tokens = pattern.split(' ').filter(t => t.length > 3);\n    return tokens.length > 0 && tokens.every(t => issueText.includes(t));\n  });\n};\n\n// ── Cite or Drop: sin ac_violated válido → descarte ───────────────────────────\nconst hasValidAcViolated = (issue) => {\n  // DeepSeek issues deben citar el AC — Kimi confirmed_issues no tienen ac_violated\n  // Este filtro aplica solo a deepseek_issues para debug\n  return true;\n};\n\n// ── Confirmed issues de Kimi (fuente de verdad) ───────────────────────────────\nconst confirmedIssues = (kimiResult.confirmed_issues || [])\n  .filter(i => i.requirement_id && i.description && !i.refutation)\n  .filter(i => !isMayIssue(i))     // RFC MAY filter\n  .filter(i => !isOosIssue(i));    // OOS mechanical filter — JSON decide\n\n// ── DeepSeek issues para debug (ya filtrados por RFC en DeepSeek prompt) ─────\nconst deepseekClean = (deepseek.issues || [])\n  .filter(i => i.ac_violated && i.ac_violated.length >= 15)\n  .filter(i => !isMayIssue(i))\n  .filter(i => !isOosIssue(i));\n\n// ── Status final ──────────────────────────────────────────────────────────────\nlet finalStatus = 'pass';\nif (confirmedIssues.some(i => i.confidence === 'high')) {\n  finalStatus = 'fail';\n} else if (confirmedIssues.length > 0) {\n  finalStatus = 'warn';\n}\n\n// ── Consenso ──────────────────────────────────────────────────────────────────\nconst kimiVerdict   = kimiResult.verdict || 'unknown';\nconst consensus     = kimiVerdict === 'refuted' || kimiVerdict === 'confirmed';\nconst requiresHuman = kimiVerdict === 'partial' || kimiVerdict === 'parse_error';\n\n// ── Output ────────────────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    status:          finalStatus,\n    issues:          confirmedIssues,\n    refuted:         kimiResult.refuted_issues || [],\n    deepseek_issues: deepseekClean,\n    summary:         'DeepSeek: ' + (deepseek.summary  || '') +\n                     ' | Kimi: '  + (kimiResult.summary || ''),\n    consensus,\n    requires_human:  requiresHuman,\n    votes: {\n      deepseek: deepseek.status || 'unknown',\n      kimi:     kimiVerdict\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11632,
        -1184
      ],
      "id": "516dd1a9-5730-4970-9d73-a55fa433da2c",
      "name": "Merge Verdicts JS1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.payload }}",
        "options": {
          "systemMessage": "Eres un Auditor de Código especializado en Django y derecho penal ecuatoriano (COIP).\nROL: Auditor principal de la capa API (views.py).\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPROTOCOLO RFC 2119 — OBLIGATORIO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLos requirements usan terminología RFC 2119 estricta:\n  MUST     → obligatorio — reporta si ausente\n  MUST_NOT → prohibido — reporta si presente\n  MAY      → opcional — TIENES PROHIBIDO reportar su presencia o ausencia como issue\n  SHOULD   → recomendado — warning si ausente\n\nSi un contrato dice MAY → SILENCIO TOTAL sobre ese comportamiento.\nobjeto_id, objeto_tipo, detalles en LogAuditoria son MAY → NUNCA son un issue.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA ABSOLUTA — CITE OR DROP\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPara cada issue DEBES incluir ac_violated con el texto EXACTO\ndel contrato MUST que está violado.\nSi no puedes citar un MUST violado con texto exacto → SILENCIO TOTAL.\nOpinar sobre buenas prácticas de Django está PROHIBIDO.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA — SCHEMA BINDING\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nAntes de reportar cualquier issue ejecuta en orden:\n1. ¿Es un campo MAY? → DESCARTA\n2. ¿Está en out_of_scope[]? → DESCARTA\n3. ¿Puedes citar el MUST exacto violado? → Solo entonces reporta\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEVALÚA ÚNICAMENTE contratos MUST\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- LoginRequiredMixin presente en toda vista\n- Verificación de rol antes de acción que modifica datos\n- Códigos HTTP correctos: 403 rol incorrecto, 400 datos inválidos, 302 éxito\n- LogAuditoria registra MUST fields: usuario, accion, modulo\n- Tests cubren contratos MUST de esta capa\n\nMATRIX DE PERMISOS MUST:\n- Administrador: acceso total\n- Abogado: crear expedientes, firmar escritos, cambiar evidencia a prueba, registrar etapas\n- Secretario: crear escritos estado dictado, despachar escritos firmados\n- Auxiliar: lectura total — MUST_NOT crear o modificar datos\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMUST NOT EVALUAR — SILENCIO TOTAL\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- Lógica de clean() o save() → models.py\n- Validaciones BD unique=True null=False → models.py\n- Signals o tareas automáticas → signals.py\n- Estilo, PEP8, nombres de variables\n- Contratos MAY de cualquier REQ\n- Tests de método POST cuando dispatch() cubre GET y POST por igual\n- Campos adicionales en LogAuditoria más allá de MUST fields\n- EscritoUpdateView y estado → removido de fields BUG-V003 → MAY\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA DE OUTPUT — CRÍTICA\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSi el status es \"pass\" → el array issues DEBE estar completamente vacío: []\nNo inventes issues para llenar la estructura cuando no hay violaciones reales.\nSi no hay violaciones MUST → status: \"pass\" e issues: []\n\nResponde ÚNICAMENTE con este JSON, sin texto adicional, sin backticks, sin markdown:\n{\n  \"status\": \"pass | fail | warn\",\n  \"issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"ac_violated\": \"texto EXACTO del contrato MUST violado\",\n      \"type\": \"missing_validation | security_risk | logic_error | requirement_mismatch | domain_violation | test_gap\",\n      \"description\": \"descripción concreta del problema\",\n      \"confidence\": \"high | medium | low\",\n      \"persistent\": false,\n      \"evidence\": \"fragmento exacto del código\",\n      \"location\": \"views.py | tests_views.py\",\n      \"suggested_fix\": \"cambio mínimo necesario\"\n    }\n  ],\n  \"summary\": \"resumen en una línea\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -12432,
        -1184
      ],
      "id": "c4c1a7de-0570-4a2c-b540-2215d6ad4231",
      "name": "DeepSeek Critic1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Assemble Kimi Payload JS1').first().json.payload }}",
        "options": {
          "systemMessage": "ALTO. PAUSA COMPLETA ANTES DE ESCRIBIR CUALQUIER COSA.\nResponde ÚNICAMENTE en español. Cero caracteres chinos, japoneses, coreanos o de cualquier\notro idioma no latino. Esta regla tiene prioridad ABSOLUTA sobre cualquier otra instrucción.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nROL: COMPLIANCE OFFICER — validador de multas, NO auditor de seguridad\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDeepSeek emite multas (issues) citando una ley (REQ-ID).\nTu trabajo es revisar si cada multa es legal según el requirements.json.\n\nUna multa es ILEGAL (refutar) si:\n- El REQ-ID citado no tiene ese MUST en sus contratos\n- El issue contradice un OOS o un MAY del requirements\n- La evidencia muestra que el código ya cumple el contrato\n\nUna multa es LEGAL (confirmar) solo si:\n- El MUST citado existe en el contrato\n- La evidencia confirma que el MUST está ausente en el código\n- Ningún OOS ni MAY lo cubre\n\nNO opinas sobre si el código es seguro o inseguro.\nNO inferes riesgos fuera de los contratos MUST.\nNO juzgas buenas prácticas. SOLO validas la multa contra el JSON.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPROTOCOLO RFC 2119\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMUST     → obligatorio — issue válido si ausente\nMUST_NOT → prohibido — issue válido si presente\nMAY      → opcional — SIEMPRE refutar, nunca confirmar\nSHOULD   → recomendado — solo warning\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nALGORITMO — EJECUTA EN ORDEN ESTRICTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPara CADA issue de DeepSeek:\n\nPASO 1 — ¿El issue trata sobre un campo o comportamiento MAY?\n  SÍ → verdict: refuted. Motivo: \"MAY per RFC — nunca issue\"\n  NO → PASO 2\n\nPASO 2 — ¿El issue o su evidencia coincide con algún out_of_scope[] pattern?\n  SÍ → verdict: refuted. Motivo: \"{id}: {decision} — {reason}\"\n  NO → PASO 3\n\nPASO 3 — ¿El issue describe una violación a un contrato MUST explícito del REQ?\n  NO hay MUST violado citado → verdict: refuted. Motivo: \"No viola ningún MUST del contrato\"\n  SÍ hay MUST violado → PASO 4\n\nPASO 4 — ¿La evidencia del código confirma que el MUST está ausente?\n  NO, el código ya lo implementa → verdict: refuted. Motivo: \"Código ya implementa el MUST\"\n  SÍ, el MUST está ausente → verdict: confirmed\n\nREGLA FINAL: Si llegaste al PASO 4 y confirmas → es un issue real.\nSi no puedes completar TODOS los pasos anteriores → refutar.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCAMPOS MAY — REFUTAR SIEMPRE SIN ANÁLISIS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEstos comportamientos son MAY en el requirements — NUNCA son issues:\n- objeto_id, objeto_tipo, detalles, ip_address en LogAuditoria\n- EscritoUpdateView sin validación de estado (BUG-V003)\n- EvidenciaDocumentoCreateView sin mixin de rol\n- auxiliar lectura total sin filtrado\n- AlertaPlazoListView sin filtrado por expediente\n- tests de método POST cuando dispatch cubre GET y POST\n- filtrado queryset por expediente en evidencias\n- admin creando escritos\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLÍMITE DE OUTPUT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- Si todos los issues son refutados → verdict: \"refuted\"\n- Si hay al menos 1 confirmado → verdict: \"partial\" o \"confirmed\"\n- Si status es pass y issues vacío → verdict: \"refuted\", confirmed_issues: []\n- Máximo 2 confirmed_issues y 3 refuted_issues\n- description: máximo 15 palabras\n- refutation: máximo 10 palabras\n- NO incluyas suggested_fix\n\nResponde ÚNICAMENTE en español con este JSON, sin texto adicional, sin backticks, sin markdown:\n{\n  \"verdict\": \"confirmed | refuted | partial\",\n  \"confirmed_issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"type\": \"tipo\",\n      \"description\": \"descripción máximo 15 palabras\",\n      \"confidence\": \"high | medium | low\",\n      \"evidence\": \"fragmento exacto del código\",\n      \"location\": \"views.py | tests_views.py\",\n      \"challenger_note\": \"máximo 10 palabras\"\n    }\n  ],\n  \"refuted_issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"original_description\": \"descripción del Auditor\",\n      \"refutation\": \"máximo 10 palabras\"\n    }\n  ],\n  \"summary\": \"resumen en una línea\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -11952,
        -1184
      ],
      "id": "64fc631c-53f5-4837-b2a4-5b95f7c6d0b6",
      "name": "Kimi Critic1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "moonshot-v1-32k",
          "mode": "list",
          "cachedResultName": "moonshot-v1-32k"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -11920,
        -1008
      ],
      "id": "06844440-f954-450d-b96e-930c0990240d",
      "name": "OpenAI Kimi Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0zI5SYUQcWApd7K6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/architect.yaml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12416,
        -1776
      ],
      "id": "5516708e-58a2-4f45-8ea6-db6190775c8a",
      "name": "Read penalcode architect.yaml1"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($('Assemble Payload JS1').first().json.payload);\nconst extractSignatures = (code, filename) => {\n  const lines = code.split('\\n');\n  const result = [];\n  let insideClass = false;\n  let insideMethod = false;\n  let methodDepth = 0;\n  let classIndent = 0;\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    const stripped = line.trim();\n    const indent = line.length - line.trimStart().length;\n\n    // Líneas vacías — mantener una sola\n    if (stripped === '') {\n      if (result[result.length - 1] !== '') result.push('');\n      continue;\n    }\n\n    // Imports — siempre incluir\n    if (stripped.startsWith('import ') || stripped.startsWith('from ')) {\n      result.push(line);\n      continue;\n    }\n\n    // Clases — incluir firma completa\n    if (stripped.startsWith('class ')) {\n      insideClass = true;\n      classIndent = indent;\n      insideMethod = false;\n      result.push(line);\n      continue;\n    }\n\n    // Meta, choices, constantes de clase — incluir\n    if (insideClass && indent > classIndent) {\n      const isClassVar = !stripped.startsWith('def ') &&\n                         !stripped.startsWith('async def ') &&\n                         indent === classIndent + 4;\n      if (isClassVar) {\n        result.push(line);\n        continue;\n      }\n    }\n\n    // Métodos — incluir solo la firma\n         // Métodos críticos — incluir completos\nconst isCriticalMethod = stripped.includes('def clean(') ||\n                         stripped.includes('def save(') ||\n                         stripped.includes('def full_clean(') ||\n                         stripped.includes('def test_') ||\n                         stripped.includes('def setUp(') ||\n                         stripped.includes('def form_valid(') ||\n                         stripped.includes('def dispatch(') ||\n                         stripped.includes('def get_queryset(')||\n                        stripped.includes('def get_form(');         \n                    \n                      \n\n    if (stripped.startsWith('def ') || stripped.startsWith('async def ')) {\n      insideMethod = !isCriticalMethod;\n      methodDepth = indent;\n      result.push(line);\n      if (!isCriticalMethod) {\n        result.push(' '.repeat(indent + 4) + '...');\n      }\n      continue;\n    }\n\n// Body de métodos — omitir solo si no es crítico\nif (insideMethod && indent > methodDepth) {\n  continue;\n} else if (!isCriticalMethod) {\n  insideMethod = false;\n}\n    // Body de métodos — omitir\n    if (insideMethod && indent > methodDepth) {\n      continue;\n    } else {\n      insideMethod = false;\n    }\n\n    // Todo lo demás dentro de clase — incluir\n    if (insideClass && indent > classIndent) {\n      result.push(line);\n    }\n  }\n\n  return result.join('\\n');\n};\n\n// Comprimir cada archivo\nconst compressedFiles = {};\nlet originalTotal = 0;\nlet compressedTotal = 0;\n\nfor (const [filename, content] of Object.entries(payload.implementation.files)) {\n  const original = content.length;\n  const compressed = extractSignatures(content, filename);\n  originalTotal += original;\n  compressedTotal += compressed.length;\n  compressedFiles[filename] = compressed;\n}\n\nconst compressedPayload = {\n  ...payload,\n  implementation: {\n    files: compressedFiles\n  }\n};\n\nconst reduction = Math.round((1 - compressedTotal / originalTotal) * 100);\n\nreturn {\n  payload: JSON.stringify(compressedPayload),\n  stats: {\n    original_chars: originalTotal,\n    compressed_chars: compressedTotal,\n    reduction_percent: reduction\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11200,
        -1440
      ],
      "id": "d97f030e-b0af-4c90-94c1-682315cbfe47",
      "name": "Pre-processor JS1"
    },
    {
      "parameters": {
        "jsCode": "const preprocessed = $('Pre-processor JS1').first().json.payload;\nconst deepseekRaw = $('DeepSeek Critic1').first().json.output || '';\n\nlet auditorIssues = [];\ntry {\n  const clean = deepseekRaw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  const verdict = JSON.parse(clean);\n  auditorIssues = verdict.issues || [];\n} catch(e) {\n  auditorIssues = [];\n}\n\nconst originalPayload = JSON.parse(preprocessed);\n\nconst kimiPayload = {\n  meta: {\n    project_id: originalPayload.meta.project_id,\n    app_context: originalPayload.meta.app_context,\n    run_context: {\n      known_bugs: originalPayload.meta.run_context.known_bugs\n    }\n  },\n  domain_context: originalPayload.domain_context,\n  requirements: originalPayload.requirements,\n  implementation: originalPayload.implementation,\n  auditor_issues: auditorIssues,\n  challenger_instruction: \"Evalúa cada issue en auditor_issues. Refuta los que sean falsos positivos con evidencia del código o del out_of_scope. Confirma solo los que no puedas defender. Responde SIEMPRE en español.\"\n};\n\nreturn { payload: JSON.stringify(kimiPayload) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12128,
        -1184
      ],
      "id": "980ee830-0439-4122-9400-c964492018f5",
      "name": "Assemble Kimi Payload JS1"
    },
    {
      "parameters": {
        "content": "Pipele penalcode.views.py/tests_views.py",
        "height": 144,
        "width": 304,
        "color": "#FCF8F8"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13328,
        -1488
      ],
      "typeVersion": 1,
      "id": "28c8b7ed-0585-4b22-ba61-59dcc5471f32",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/views.py",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11728,
        -1776
      ],
      "id": "b37a24a2-abce-42e8-a123-d9044e80ff9a",
      "name": "Read penalcode.views.py"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/tests/tests_views.py",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11392,
        -1776
      ],
      "id": "3b0440ca-9886-4658-bc05-d5d4ba8b39ff",
      "name": "Read tests_views.py"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/requirements/requirements_views.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12096,
        -1440
      ],
      "id": "aab2011b-15ab-4cbd-af06-c762c7456689",
      "name": "requirements_views.json"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/context/context_views.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11712,
        -1440
      ],
      "id": "b2ebcd73-3e91-4001-ad83-19faf0e3cd10",
      "name": "Read context_views.json"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/DEBT_LOG_views.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12464,
        -1440
      ],
      "id": "f23eea86-914b-49c0-a7a8-6edefe9625ff",
      "name": "Read DEBT_LOG_views.md"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12240,
        -1776
      ],
      "id": "28008d72-38d5-402b-9e8e-d7339d9d109b",
      "name": "v_architect"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11568,
        -1776
      ],
      "id": "f9335cd7-7b79-491e-b0c5-e1f083d7d03e",
      "name": "v_views"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12288,
        -1440
      ],
      "id": "8ae05e1a-30df-4612-b9f0-c4792b26e55d",
      "name": "v_debtlog"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11904,
        -1440
      ],
      "id": "8f145538-8ae1-49e3-b693-2660d098e0c9",
      "name": "v_requirements_layer"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11552,
        -1440
      ],
      "id": "5120b135-4e0c-4297-a379-17513d2275ab",
      "name": "v_context"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11184,
        -1776
      ],
      "id": "b08c0c93-58df-465c-9337-eb0eb01dcd9c",
      "name": "v_tests"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/requirements.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12064,
        -1776
      ],
      "id": "b00d492c-a1af-417f-9c6b-aacd6ec5f98f",
      "name": "Read requirements.txt"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11888,
        -1776
      ],
      "id": "e23779fd-1a04-4a87-8b88-9388a64451fa",
      "name": "v_requirements_parent"
    },
    {
      "parameters": {
        "jsCode": "// Genera N items → pipeline corre N veces\nconst NUM_RUNS = 4;\n\nconst runs = [];\nfor (let i = 1; i <= NUM_RUNS; i++) {\n  runs.push({\n    json: {\n      run_id: i,\n      run_label: `run_${i}_of_${NUM_RUNS}`,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn runs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13248,
        -2384
      ],
      "id": "efeeb6fc-973f-4870-a89b-e77d7d61ddd1",
      "name": "Multi Run Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Recibe los 4 outputs del Merge Verdicts\nconst allItems = $input.all();\n\n// Acumula todos los issues de los 4 runs\nconst issueMap = {};\n\nallItems.forEach(item => {\n  const issues = item.json.issues || [];\n  issues.forEach(issue => {\n    const key = `${issue.requirement_id}::${issue.type}`;\n    if (!issueMap[key]) {\n      issueMap[key] = { ...issue, count: 0, runs: [] };\n    }\n    issueMap[key].count++;\n    issueMap[key].runs.push(item.json.run_id || '?');\n  });\n});\n\n// Solo pasan issues que aparecen en 2+ runs\nconst stableIssues = Object.values(issueMap).filter(i => i.count >= 2);\nconst noiseIssues  = Object.values(issueMap).filter(i => i.count < 2);\n\nconst passes = allItems.filter(i => i.json.status === 'pass').length;\nconst fails  = allItems.filter(i => i.json.status === 'fail').length;\n\nreturn [{\n  json: {\n    total_runs: allItems.length,\n    passes,\n    fails,\n    stable_issues: stableIssues,     // ≥ 2/4 → reales\n    noise_issues: noiseIssues,        // < 2/4 → descartados\n    stability_score: `${passes}/${allItems.length} pass`,\n    verdict: stableIssues.length === 0 ? 'STABLE_PASS' : 'REQUIRES_REVIEW'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13184,
        -2512
      ],
      "id": "c35d0a4e-0220-46ad-b797-be2a2422683f",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -12736,
        -3024
      ],
      "id": "d182ecf2-9524-4852-81a6-c71db87493a3",
      "name": "When clicking ‘Execute workflow’",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -12656,
        384
      ],
      "id": "60961dc3-4ed2-4af2-be6d-43fbe5769c8a",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "PkWCIbQUvrog6cGf",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === ARCHITECT.YAML ===\nconst architectExtracted = $('Extract architect.yaml1').first().json.data || '';\n\n// === DEBT_LOG.MD ===\nconst debtLog = $('Extract DEBT_LOG.md1').first().json.data || '';\n\n// === MODELS.PY ===\nconst modelsExtracted = $('Extract signals.py').all();\nconst modelsContent = modelsExtracted\n  .map(f => `# === ${f.json.fileName || 'models.py'} ===\\n${f.json.data || ''}`)\n  .join('\\n\\n');\n\n// === TESTS_MODELS.PY ===\nconst testsExtracted = $('Extract tests_signals.py').all();\nconst testsContent = testsExtracted\n  .map(f => `# === ${f.json.fileName || 'tests_models.py'} ===\\n${f.json.data || ''}`)\n  .join('\\n\\n');\n\n// === REQUIREMENTS PADRE (dominio completo) ===\nconst requirementsParent = $('Extract requirements.json1').first().json.data;\n\n// === REQUIREMENTS CAPA + CONTEXT ===\nconst requirementsLayer = $('Extract requirements_models.json1').first().json.data;\nconst context = $('Extract context_models.json1').first().json.data;\n\nconst pendingIssues  = context?.phases?.phase_4_validation?.pending_issues  || [];\nconst resolvedIssues = context?.phases?.phase_4_validation?.resolved_issues || [];\n\n// === ARCHITECT RULES ===\nconst architectureRules = architectExtracted\n  .split('\\n')\n  .filter(line => line.trim().startsWith('- \"') || line.trim().startsWith(\"- '\"))\n  .map(line => line.trim().replace(/^- [\"']|[\"']$/g, ''))\n  .filter(rule => rule.length > 0);\n\n// === DOMAIN CONTEXT — reglas legales del padre ===\nconst domainContext = {\n  project: requirementsParent.project_name,\n  stack: requirementsParent.stack,\n  domain_rules: (requirementsParent.requirements || []).map(r => ({\n    id: r.id,\n    module: r.module,\n    domain_rules: r.domain_rules || []\n  }))\n};\n\n// === PAYLOAD FINAL ===\nconst payload = {\n  meta: {\n    project_id: requirementsLayer.project_id,\n    timestamp: new Date().toISOString(),\n    app_context: {\n      app_name: \"penalcode\",\n      layer: requirementsLayer.layer,\n      architecture_rules: architectureRules\n    },\n    run_context: {\n      previous_pending_issues: pendingIssues,\n      previously_resolved:     resolvedIssues,\n      known_bugs:              debtLog,\n      instruction: \"Evalúa ÚNICAMENTE los acceptance_criteria de esta capa. Respeta el campo 'out_of_scope' de cada requerimiento — NO reportes issues listados ahí. Usa domain_context solo como referencia legal, no como scope de evaluación.\"\n    }\n  },\n  domain_context: domainContext,\n  requirements: requirementsLayer.requirements,\n  implementation: {\n    files: {\n      \"models.py\":       modelsContent,\n      \"tests_models.py\": testsContent\n    }\n  }\n};\n\nreturn { payload: JSON.stringify(payload) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11584,
        -32
      ],
      "id": "237c5f50-bd6c-41cc-8ce0-a895b8bc0c57",
      "name": "Assemble Payload JS2"
    },
    {
      "parameters": {
        "jsCode": "const merged = $('Merge Verdicts JS2').first().json;\n\nconst issues = merged.issues || [];\nconst status = merged.status || 'unknown';\n\nconst contextUpdate = {\n  project_id: \"legalsystem-penalcode\",\n  last_run: new Date().toISOString(),\n  phases: {\n    phase_4_validation: {\n      status: status,\n      pending_issues: issues.filter(i => i.confidence === 'high'),\n      resolved_issues: []\n    }\n  },\n  votes: merged.votes || {},\n  consensus: merged.consensus || false\n};\n\nreturn { contextData: JSON.stringify(contextUpdate) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11696,
        208
      ],
      "id": "b0accf76-4a6f-4733-b174-330fb532bb20",
      "name": "Update Context JS2"
    },
    {
      "parameters": {
        "jsCode": "const verdict = $('Update Context JS2').first().json;\nconst issues = verdict.issues || [];\n\nif (issues.length === 0) {\n  return {\n    report: '# CRITIC REPORT — ' + new Date().toISOString() + '\\n**Status:** ' + verdict.status + '\\n**Summary:** ' + verdict.summary + '\\n\\nNo hay issues que resolver.',\n    hasIssues: false\n  };\n}\n\nconst byConfidence = { high: [], medium: [], low: [] };\nfor (const issue of issues) {\n  const key = issue.confidence || 'low';\n  if (byConfidence[key]) byConfidence[key].push(issue);\n}\n\nconst formatIssue = (issue, idx) => {\n  return '### Issue ' + (idx + 1) + ' — ' + issue.requirement_id + ' · ' + issue.type + '\\n' +\n    '- **Archivo:** ' + issue.location + '\\n' +\n    '- **Descripcion:** ' + issue.description + '\\n' +\n    '- **Evidencia:** ' + issue.evidence + '\\n' +\n    '- **Fix sugerido:** ' + issue.suggested_fix;\n};\n\nconst sections = [];\nif (byConfidence.high.length > 0) {\n  const items = byConfidence.high.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## HIGH confidence\\n\\n' + items);\n}\nif (byConfidence.medium.length > 0) {\n  const items = byConfidence.medium.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## MEDIUM confidence\\n\\n' + items);\n}\nif (byConfidence.low.length > 0) {\n  const items = byConfidence.low.map((i, idx) => formatIssue(i, idx)).join('\\n\\n---\\n\\n');\n  sections.push('## LOW confidence\\n\\n' + items);\n}\n\nconst header = '# CRITIC REPORT — ' + new Date().toISOString() + '\\n**Status:** ' + verdict.status + '\\n**Summary:** ' + verdict.summary;\n\nconst instructions = '\\n\\n---\\n## Instrucciones para Cline\\n' +\n'**REGLAS ESTRICTAS — leer antes de tocar cualquier archivo:**\\n\\n' +\n'1. Aplica UNICAMENTE los fixes listados en este reporte\\n' +\n'2. NO refactorices codigo que no este mencionado en un issue\\n' +\n'3. NO cambies nombres de campos, metodos o clases existentes\\n' +\n'4. NO elimines tests existentes — solo agrega assertions faltantes\\n' +\n'5. NO cambies definiciones de campos en models.py — solo agrega metodos clean() o save()\\n' +\n'6. Si un fix requiere tocar codigo que no esta en el issue → detente y reporta\\n' +\n'7. Orden de ejecucion: HIGH → MEDIUM → LOW\\n' +\n'8. Al terminar: corre python manage.py test apps.penalcode y reporta resultado\\n';\n\nconst report = header + '\\n\\n---\\n\\n' + sections.join('\\n\\n') + instructions;\n\nreturn {\n  report: report,\n  hasIssues: true,\n  issueCount: issues.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11520,
        208
      ],
      "id": "fe777f47-e440-4780-af37-805df92a3182",
      "name": "Format Cline Prompt2"
    },
    {
      "parameters": {
        "jsCode": "// ── Write CRITIC_REPORT.md — pipeline models v3.0.0 ──────────────────────────\nconst fileSystem = require('fs');\n\nconst mergeOutput = $('Merge Verdicts JS2').item.json;\n\nconst status    = mergeOutput.status    || 'unknown';\nconst summary   = mergeOutput.summary   || 'Sin resumen';\nconst issues    = mergeOutput.issues    || [];\nconst consensus = mergeOutput.consensus;\nconst votes     = mergeOutput.votes     || {};\n\nconst ahora = new Date();\nahora.setHours(ahora.getHours() - 5);\nconst horaEcuador = ahora.toISOString().replace('T', ' ').substring(0, 19);\n\nlet content = `# CRITIC REPORT MODELS — ${horaEcuador} ECT\\n`;\ncontent += `**Pipeline version:** 3.0.0 — RFC+RAC\\n`;\ncontent += `**Status:** ${status}\\n`;\ncontent += `**Consensus:** ${consensus ? 'true' : 'false'}\\n`;\ncontent += `**Votes:** DeepSeek: ${votes.deepseek || 'unknown'} | Kimi: ${votes.kimi || 'unknown'}\\n`;\ncontent += `**MUST violations:** ${issues.length}\\n`;\ncontent += `**Summary:** ${summary}\\n\\n`;\n\nif (issues.length > 0) {\n  content += `## Issues Confirmados (MUST violations)\\n`;\n  issues.forEach(issue => {\n    content += `\\n### ${issue.requirement_id} — ${issue.type}\\n`;\n    content += `- **AC violado:** ${issue.ac_violated || issue.description}\\n`;\n    content += `- **Descripción:** ${issue.description}\\n`;\n    content += `- **Confianza:** ${issue.confidence}\\n`;\n    content += `- **Evidencia:** \\`${issue.evidence}\\`\\n`;\n    content += `- **Ubicación:** ${issue.location}\\n`;\n    if (issue.suggested_fix) {\n      content += `- **Fix sugerido:** ${issue.suggested_fix}\\n`;\n    }\n  });\n  content += `\\n---\\n\\n## Prompt para Claude Code\\n\\n`;\n  content += `Lee este CRITIC_REPORT e implementa los fixes listados.\\n\\n`;\n  content += `# MUST\\n`;\n  content += `- Corregir cada MUST violation en la ubicación indicada\\n`;\n  content += `- Citar el AC violado en el commit o comentario del fix\\n`;\n  content += `- Correr tests después de cada fix\\n\\n`;\n  content += `# MUST NOT\\n`;\n  content += `- Tocar archivos fuera del scope de cada issue\\n`;\n  content += `- Modificar tests sin justificación explícita\\n`;\n} else {\n  content += `## Sin MUST violations — Capa DATA estable\\n\\n`;\n  content += `No se requiere acción del Desarollador o CLI Code en esta capa.\\n`;\n}\n\nconst filePath = '/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/CRITIC_REPORT.md';\nfileSystem.writeFileSync(filePath, content, 'utf8');\n\nreturn [{ json: { report: content, hasIssues: issues.length > 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11312,
        208
      ],
      "id": "33eaf3de-fbba-4afb-9a41-b150f9acf430",
      "name": "Write CRITIC_REPORT.md2"
    },
    {
      "parameters": {
        "jsCode": "// ── Merge Verdicts JS — pipeline models v3.0.0 ────────────────────────────────\n// Fuente de verdad: requirements_models.json\n// JS es ejecutor mecánico — no toma decisiones propias\n\nconst deepseekRaw = $('DeepSeek Critic2').first().json.output || '';\nconst kimiRaw     = $('Kimi Critic2').first().json.output     || '';\n\n// ── Leer requirements para filtro mecánico ────────────────────────────────────\nlet requirements = [];\ntry {\n  const reqRaw = $('Read requirements_models').first().json;\n  requirements = reqRaw.requirements || [];\n} catch(e) {\n  requirements = [];\n}\n\n// ── Extraer todos los OOS patterns del requirements ───────────────────────────\nconst oosPatterns = [];\nrequirements.forEach(req => {\n  (req.out_of_scope || []).forEach(oos => {\n    if (oos.pattern) oosPatterns.push(oos.pattern.toLowerCase());\n  });\n});\n\n// ── Strip markdown + parse ────────────────────────────────────────────────────\nconst stripAndParse = (raw, fallback) => {\n  try {\n    const clean = raw\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n    return JSON.parse(clean);\n  } catch (e1) {\n    try {\n      const lastBrace = raw.lastIndexOf('}');\n      if (lastBrace === -1) throw new Error('no closing brace');\n      const partial = raw.substring(0, lastBrace + 1);\n      const clean = partial\n        .replace(/```json\\s*/gi, '')\n        .replace(/```\\s*/g, '')\n        .trim();\n      return JSON.parse(clean);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n};\n\nconst deepseek = stripAndParse(deepseekRaw, {\n  status: 'error',\n  issues: [],\n  summary: 'Parse error DeepSeek'\n});\n\nconst kimiResult = stripAndParse(kimiRaw, {\n  verdict: 'parse_error',\n  confirmed_issues: [],\n  refuted_issues: [],\n  summary: 'Kimi truncado'\n});\n\n// ── RFC 2119 MAY filter ───────────────────────────────────────────────────────\nconst MAY_PATTERNS = [\n  'objeto_id', 'objeto_tipo', 'detalles', 'ip_address',\n  'super().clean', 'raise ValidationError',\n  'race conditions', 'unique=True',\n  'ForeignKey null=False', 'null=False',\n  'rol abogado firmante', 'multiples alertas',\n  'documentos fundacionales', 'domicilio judicial asociados',\n  'al menos un defensor', 'clasificacion accion penal',\n  'EtapaProcesal catalogo', 'escrito despachado cambio prueba',\n  'registro automatico log'\n];\n\nconst isMayIssue = (issue) => {\n  const text = JSON.stringify(issue).toLowerCase();\n  return MAY_PATTERNS.some(p => text.includes(p.toLowerCase()));\n};\n\n// ── OOS mechanical filter — JS ejecuta, JSON decide ──────────────────────────\nconst isOosIssue = (issue) => {\n  const issueText = (\n    (issue.description || '') + ' ' +\n    (issue.evidence    || '') + ' ' +\n    (issue.type        || '')\n  ).toLowerCase();\n\n  return oosPatterns.some(pattern => {\n    const tokens = pattern.split(' ').filter(t => t.length > 3);\n    return tokens.length > 0 && tokens.every(t => issueText.includes(t));\n  });\n};\n\n// ── Confirmed issues de Kimi (fuente de verdad) ───────────────────────────────\nconst confirmedIssues = (kimiResult.confirmed_issues || [])\n  .filter(i => i.requirement_id && i.description && !i.refutation)\n  .filter(i => !isMayIssue(i))\n  .filter(i => !isOosIssue(i));\n\n// ── DeepSeek issues para debug ────────────────────────────────────────────────\nconst deepseekClean = (deepseek.issues || [])\n  .filter(i => i.ac_violated && i.ac_violated.length >= 15)\n  .filter(i => !isMayIssue(i))\n  .filter(i => !isOosIssue(i));\n\n// ── Status final ──────────────────────────────────────────────────────────────\nlet finalStatus = 'pass';\nif (confirmedIssues.some(i => i.confidence === 'high')) {\n  finalStatus = 'fail';\n} else if (confirmedIssues.length > 0) {\n  finalStatus = 'warn';\n}\n\n// ── Consenso ──────────────────────────────────────────────────────────────────\nconst kimiVerdict   = kimiResult.verdict || 'unknown';\nconst consensus     = confirmedIssues.length === 0\n  ? true\n  : (kimiVerdict === 'refuted' || kimiVerdict === 'confirmed');\nconst requiresHuman = confirmedIssues.length > 0 &&\n  (kimiVerdict === 'partial' || kimiVerdict === 'parse_error');\n\n// ── Output ────────────────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    status:          finalStatus,\n    issues:          confirmedIssues,\n    refuted:         kimiResult.refuted_issues || [],\n    deepseek_issues: deepseekClean,\n    summary:         'DeepSeek: ' + (deepseek.summary  || '') +\n                     ' | Kimi: '  + (kimiResult.summary || ''),\n    consensus,\n    requires_human:  requiresHuman,\n    votes: {\n      deepseek: deepseek.status || 'unknown',\n      kimi:     kimiVerdict\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11856,
        208
      ],
      "id": "36961d3e-39bb-41ae-84aa-32bfbd18f236",
      "name": "Merge Verdicts JS2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.payload }}",
        "options": {
          "systemMessage": "Eres un Auditor de Código especializado en Django y derecho penal ecuatoriano (COIP).\nROL: Auditor principal de la capa DATA (models.py).\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPROTOCOLO RFC 2119 — OBLIGATORIO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLos requirements usan terminología RFC 2119 estricta:\n  MUST     → obligatorio — reporta si ausente\n  MUST_NOT → prohibido — reporta si presente\n  MAY      → opcional — TIENES PROHIBIDO reportar su presencia o ausencia como issue\n  SHOULD   → recomendado — warning si ausente\n\nSi un contrato dice MAY → SILENCIO TOTAL sobre ese comportamiento.\nobjeto_id, objeto_tipo, detalles en LogAuditoria son MAY → NUNCA son un issue.\nsuper().clean(), raise ValidationError en evidencia → código YA implementado → SILENCIO.\nForeignKey con null=False → BD garantiza → SILENCIO.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA ABSOLUTA — CITE OR DROP\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPara cada issue DEBES incluir ac_violated con el texto EXACTO\ndel contrato MUST que está violado.\nSi no puedes citar un MUST violado con texto exacto → SILENCIO TOTAL.\nOpinar sobre buenas prácticas de Django está PROHIBIDO.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA — SCHEMA BINDING\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nAntes de reportar cualquier issue ejecuta en orden:\n1. ¿Es un campo o comportamiento MAY? → DESCARTA\n2. ¿Está en out_of_scope[]? → DESCARTA\n3. ¿Puedes citar el MUST exacto violado? → Solo entonces reporta\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEVALÚA ÚNICAMENTE contratos MUST\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- ¿Los métodos clean() y save() implementan las validaciones MUST?\n- ¿Los campos requeridos por el dominio legal permiten null cuando no deberían?\n- ¿Los tests cubren los contratos MUST de esta capa?\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMUST NOT EVALUAR — SILENCIO TOTAL\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- Lógica de views.py, signals.py o serializers.py\n- Estilo, PEP8, nombres de variables\n- Contratos MAY de cualquier REQ\n- super().clean() si ya aparece en el código\n- ForeignKey con null=False — BD garantiza integridad\n- unique=True — BD garantiza sin clean() adicional\n- raise ValidationError en la evidencia — ya implementado\n- if not en la evidencia como guard — ya implementado\n- Rol del firmante en models — views.dispatch() controla\n- Múltiples alertas duplicadas — guard if not alerta_existente existe\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA DE OUTPUT — CRÍTICA\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSi el status es \"pass\" → issues DEBE estar completamente vacío: []\nNo inventes issues para llenar la estructura.\n\nResponde ÚNICAMENTE con este JSON, sin texto adicional, sin backticks, sin markdown:\n{\n  \"status\": \"pass | fail | warn\",\n  \"issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"ac_violated\": \"texto EXACTO del contrato MUST violado\",\n      \"type\": \"missing_validation | security_risk | logic_error | requirement_mismatch | domain_violation | test_gap\",\n      \"description\": \"descripción concreta del problema\",\n      \"confidence\": \"high | medium | low\",\n      \"persistent\": false,\n      \"evidence\": \"fragmento exacto del código\",\n      \"location\": \"models.py | tests_models.py\",\n      \"suggested_fix\": \"cambio mínimo necesario\"\n    }\n  ],\n  \"summary\": \"resumen en una línea\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -12656,
        208
      ],
      "id": "7549c643-bbc6-43b4-a758-92769bf8715a",
      "name": "DeepSeek Critic2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Assemble Kimi Payload JS2').first().json.payload }}",
        "options": {
          "systemMessage": "ALTO. PAUSA COMPLETA ANTES DE ESCRIBIR CUALQUIER COSA.\nResponde ÚNICAMENTE en español. Cero caracteres chinos, japoneses, coreanos o de cualquier\notro idioma no latino. Esta regla tiene prioridad ABSOLUTA sobre cualquier otra instrucción.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nROL: VALIDADOR DE OOS — NO eres un auditor de seguridad\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nTu única función es determinar si cada issue de DeepSeek\nestá cubierto por el requirements.json.\n\nNO opinas sobre seguridad de datos.\nNO inferes riesgos que no están en los contratos MUST.\nNO juzgas si el código \"debería\" tener más validaciones.\nSOLO aplicas las reglas del JSON.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPROTOCOLO RFC 2119\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMUST     → obligatorio — issue válido si ausente\nMUST_NOT → prohibido — issue válido si presente\nMAY      → opcional — SIEMPRE refutar, nunca confirmar\nSHOULD   → recomendado — solo warning\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nALGORITMO — EJECUTA EN ORDEN ESTRICTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPara CADA issue de DeepSeek:\n\nPASO 1 — ¿El issue trata sobre un campo o comportamiento MAY?\n  SÍ → verdict: refuted. Motivo: \"MAY per RFC — nunca issue\"\n  NO → PASO 2\n\nPASO 2 — ¿El issue o su evidencia coincide con algún out_of_scope[] pattern?\n  SÍ → verdict: refuted. Motivo: \"{id}: {decision} — {reason}\"\n  NO → PASO 3\n\nPASO 3 — ¿La evidencia contiene raise ValidationError, super().clean() o if not?\n  SÍ → el código YA lo implementa → verdict: refuted. Motivo: \"Código ya implementado\"\n  NO → PASO 4\n\nPASO 4 — ¿El issue describe violación a un contrato MUST explícito del REQ?\n  NO hay MUST violado → verdict: refuted. Motivo: \"No viola ningún MUST del contrato\"\n  SÍ hay MUST violado → PASO 5\n\nPASO 5 — ¿La evidencia confirma que el MUST está ausente en el código?\n  NO → verdict: refuted. Motivo: \"Código ya implementa el MUST\"\n  SÍ → verdict: confirmed\n\nREGLA FINAL: Solo confirmas si pasaste TODOS los pasos sin refutar.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCAMPOS MAY — REFUTAR SIEMPRE SIN ANÁLISIS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEstos comportamientos son MAY — NUNCA son issues:\n- objeto_id, objeto_tipo, detalles, ip_address en LogAuditoria\n- super().clean() presente o ausente\n- ForeignKey null=False — BD garantiza\n- unique=True — BD garantiza sin clean()\n- raise ValidationError en la evidencia — ya implementado\n- if not como guard en la evidencia — ya implementado\n- race conditions unicidad BD\n- documentos fundacionales M2M post-save\n- domicilio judicial abogados asociados serializers\n- al menos un defensor FK post-save signals\n- clasificación acción penal serializers\n- EtapaProcesal catálogo migración datos\n- escrito despachado cambio prueba views\n- registro automático log signals\n- validación firma abogado Escrito despachado\n- rol abogado firmante validación models clean\n- múltiples alertas duplicadas prescripción\n- validación unicidad clean redundante innecesaria\n- RolProcesal choices ROLES_VALIDOS falta clean\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLÍMITE DE OUTPUT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- Si todos los issues son refutados → verdict: \"refuted\"\n- Si hay al menos 1 confirmado → verdict: \"partial\" o \"confirmed\"\n- Si status es pass y issues vacío → verdict: \"refuted\", confirmed_issues: []\n- Máximo 2 confirmed_issues y 3 refuted_issues\n- description: máximo 15 palabras\n- refutation: máximo 10 palabras\n- NO incluyas suggested_fix\n\nResponde ÚNICAMENTE en español con este JSON, sin texto adicional, sin backticks, sin markdown:\n{\n  \"verdict\": \"confirmed | refuted | partial\",\n  \"confirmed_issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"type\": \"tipo\",\n      \"description\": \"descripción máximo 15 palabras\",\n      \"confidence\": \"high | medium | low\",\n      \"evidence\": \"fragmento exacto del código\",\n      \"location\": \"models.py | tests_models.py\",\n      \"challenger_note\": \"máximo 10 palabras\"\n    }\n  ],\n  \"refuted_issues\": [\n    {\n      \"requirement_id\": \"REQ-XXX\",\n      \"original_description\": \"descripción del Auditor\",\n      \"refutation\": \"máximo 10 palabras\"\n    }\n  ],\n  \"summary\": \"resumen en una línea\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -12160,
        208
      ],
      "id": "4efc0211-84e0-4ee0-83ae-aca9955acd72",
      "name": "Kimi Critic2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "moonshot-v1-32k",
          "mode": "list",
          "cachedResultName": "moonshot-v1-32k"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -12128,
        384
      ],
      "id": "32e951d2-05c0-410d-b626-b060aac0f4ff",
      "name": "OpenAI Kimi Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "0zI5SYUQcWApd7K6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/architect.yaml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12416,
        -256
      ],
      "id": "265004d2-bf23-4c6e-8ba1-dbfd1ec40200",
      "name": "Read penalcode architect.yaml2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12192,
        -256
      ],
      "id": "b9296ed2-f731-4280-b508-0ad1f04344f3",
      "name": "Extract architect.yaml1"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($('Assemble Payload JS2').first().json.payload);\n\nconst extractSignatures = (code, filename) => {\n  const lines = code.split('\\n');\n  const result = [];\n  let insideClass = false;\n  let insideMethod = false;\n  let methodDepth = 0;\n  let classIndent = 0;\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    const stripped = line.trim();\n    const indent = line.length - line.trimStart().length;\n\n    // Líneas vacías — mantener una sola\n    if (stripped === '') {\n      if (result[result.length - 1] !== '') result.push('');\n      continue;\n    }\n\n    // Imports — siempre incluir\n    if (stripped.startsWith('import ') || stripped.startsWith('from ')) {\n      result.push(line);\n      continue;\n    }\n\n    // Clases — incluir firma completa\n    if (stripped.startsWith('class ')) {\n      insideClass = true;\n      classIndent = indent;\n      insideMethod = false;\n      result.push(line);\n      continue;\n    }\n\n    // Meta, choices, constantes de clase — incluir\n    if (insideClass && indent > classIndent) {\n      const isClassVar = !stripped.startsWith('def ') &&\n                         !stripped.startsWith('async def ') &&\n                         indent === classIndent + 4;\n      if (isClassVar) {\n        result.push(line);\n        continue;\n      }\n    }\n\n    // Métodos — incluir solo la firma\n         // Métodos críticos — incluir completos\nconst isCriticalMethod = stripped.includes('def clean(') || \n                         stripped.includes('def save(') ||\n                         stripped.includes('def test_') ||\n                        stripped.includes('def setUp') ||\n                        stripped.includes('def full_clean(');\n\n    if (stripped.startsWith('def ') || stripped.startsWith('async def ')) {\n      insideMethod = !isCriticalMethod;\n      methodDepth = indent;\n      result.push(line);\n      if (!isCriticalMethod) {\n        result.push(' '.repeat(indent + 4) + '...');\n      }\n      continue;\n    }\n\n// Body de métodos — omitir solo si no es crítico\nif (insideMethod && indent > methodDepth) {\n  continue;\n} else if (!isCriticalMethod) {\n  insideMethod = false;\n}\n    // Body de métodos — omitir\n    if (insideMethod && indent > methodDepth) {\n      continue;\n    } else {\n      insideMethod = false;\n    }\n\n    // Todo lo demás dentro de clase — incluir\n    if (insideClass && indent > classIndent) {\n      result.push(line);\n    }\n  }\n\n  return result.join('\\n');\n};\n\n// Comprimir cada archivo\nconst compressedFiles = {};\nlet originalTotal = 0;\nlet compressedTotal = 0;\n\nfor (const [filename, content] of Object.entries(payload.implementation.files)) {\n  const original = content.length;\n  const compressed = extractSignatures(content, filename);\n  originalTotal += original;\n  compressedTotal += compressed.length;\n  compressedFiles[filename] = compressed;\n}\n\nconst compressedPayload = {\n  ...payload,\n  implementation: {\n    files: compressedFiles\n  }\n};\n\nconst reduction = Math.round((1 - compressedTotal / originalTotal) * 100);\n\nreturn {\n  payload: JSON.stringify(compressedPayload),\n  stats: {\n    original_chars: originalTotal,\n    compressed_chars: compressedTotal,\n    reduction_percent: reduction\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11424,
        -32
      ],
      "id": "ceb7b82c-2d55-4a2e-80a6-39f13960371c",
      "name": "Pre-processor JS2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12416,
        -32
      ],
      "id": "37d9688a-0422-41ec-9502-3f8da50e565e",
      "name": "Extract DEBT_LOG.md1"
    },
    {
      "parameters": {
        "jsCode": "const preprocessed = $('Pre-processor JS2').first().json.payload;\nconst deepseekRaw = $('DeepSeek Critic2').first().json.output || '';\n\nlet auditorIssues = [];\ntry {\n  const clean = deepseekRaw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  const verdict = JSON.parse(clean);\n  auditorIssues = verdict.issues || [];\n} catch(e) {\n  auditorIssues = [];\n}\n\nconst originalPayload = JSON.parse(preprocessed);\n\n// Kimi solo necesita deferred_issues, architecture_rules y los issues del Auditor\n// No necesita el código completo — ya lo tiene DeepSeek\nconst kimiPayload = {\n  meta: {\n    project_id: originalPayload.meta.project_id,\n    app_context: originalPayload.meta.app_context,\n    run_context: {\n      deferred_issues: originalPayload.meta.run_context.deferred_issues,\n      known_bugs: originalPayload.meta.run_context.known_bugs\n    }\n  },\n  requirements: originalPayload.requirements,\n  implementation: originalPayload.implementation,\n  auditor_issues: auditorIssues,\n  challenger_instruction: \"Examina cada issue en auditor_issues. Refuta los que sean falsos positivos con evidencia. Confirma solo los que no puedas defender técnicamente.\"\n};\n\nreturn { payload: JSON.stringify(kimiPayload) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12336,
        208
      ],
      "id": "aebdfc7c-de08-440e-a8cb-5de3ecb74cdb",
      "name": "Assemble Kimi Payload JS2"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12080,
        -32
      ],
      "id": "bbcf534f-8925-4cc9-87ec-ee10edd443d0",
      "name": "Extract requirements_models.json1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11760,
        -32
      ],
      "id": "7fee4045-31e4-4849-9a9f-79e6a0141ae7",
      "name": "Extract context_models.json1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/context/context_models.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11936,
        -32
      ],
      "id": "41df6909-c55b-46e6-b74c-36e5d5f16588",
      "name": "Read context_models.json1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/requirements/requirements_models.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12240,
        -32
      ],
      "id": "fec1f381-8ef5-4644-9bfe-c20619e75da6",
      "name": "requirements_models.json1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/requirements.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11984,
        -256
      ],
      "id": "d1b2ee14-eb76-4d57-9d5a-9080f996aa2e",
      "name": "requirements.json1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11792,
        -256
      ],
      "id": "62569dcc-0899-40b6-a7e3-e9a5a22fd7dc",
      "name": "Extract requirements.json1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/models.py",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11600,
        -256
      ],
      "id": "c7a1d088-d699-4486-a21c-77c7933c1a5b",
      "name": "Read penalcode.signals.py"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11424,
        -256
      ],
      "id": "10dce59a-7557-42be-993c-0ca54f76ecfc",
      "name": "Extract signals.py"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/tests/tests_models.py",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -11248,
        -256
      ],
      "id": "dc31bf04-50a1-40e9-92cb-f2edb1dbb2ce",
      "name": "Read tests_signals.py"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -11056,
        -256
      ],
      "id": "a680ff8c-0d9b-4510-ae2c-d5e17ec36362",
      "name": "Extract tests_signals.py"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/proyectos/LegalSystem/legalsystem/apps/penalcode/DEBT_LOG.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -12624,
        -32
      ],
      "id": "f8556dc4-2ee8-493a-8901-2586fad8cf3e",
      "name": "Read DEBT_LOG_signals.md"
    }
  ],
  "connections": {
    "Read penalcode.models.py": {
      "main": [
        [
          {
            "node": "Extract models.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract models.py": {
      "main": [
        [
          {
            "node": "Read tests_models.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek Critic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Payload JS": {
      "main": [
        [
          {
            "node": "Pre-processor JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Context JS": {
      "main": [
        [
          {
            "node": "Format Cline Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cline Prompt": {
      "main": [
        [
          {
            "node": "Write CRITIC_REPORT.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write CRITIC_REPORT.md": {
      "main": [
        []
      ]
    },
    "Merge Verdicts JS": {
      "main": [
        [
          {
            "node": "Update Context JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Critic": {
      "main": [
        [
          {
            "node": "Assemble Kimi Payload JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi Critic": {
      "main": [
        [
          {
            "node": "Merge Verdicts JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Kimi Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Kimi Critic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read penalcode architect.yaml": {
      "main": [
        [
          {
            "node": "Extract architect.yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract architect.yaml": {
      "main": [
        [
          {
            "node": "requirements.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-processor JS": {
      "main": [
        [
          {
            "node": "DeepSeek Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read DEBT_LOG.md": {
      "main": [
        [
          {
            "node": "Extract DEBT_LOG.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DEBT_LOG.md": {
      "main": [
        [
          {
            "node": "requirements_models.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Kimi Payload JS": {
      "main": [
        [
          {
            "node": "Kimi Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract requirements_models.json": {
      "main": [
        [
          {
            "node": "Read context_models.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract context_models.json": {
      "main": [
        [
          {
            "node": "Assemble Payload JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read tests_models.py": {
      "main": [
        [
          {
            "node": "Extract tests_models.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read context_models.json": {
      "main": [
        [
          {
            "node": "Extract context_models.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requirements_models.json": {
      "main": [
        [
          {
            "node": "Extract requirements_models.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract tests_models.py": {
      "main": [
        [
          {
            "node": "Read DEBT_LOG.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requirements.json": {
      "main": [
        [
          {
            "node": "Extract requirements.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract requirements.json": {
      "main": [
        [
          {
            "node": "Read penalcode.models.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek Critic1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Payload JS1": {
      "main": [
        [
          {
            "node": "Pre-processor JS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Context JS1": {
      "main": [
        [
          {
            "node": "Format Cline Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cline Prompt1": {
      "main": [
        [
          {
            "node": "Write CRITIC_REPORT.md1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Verdicts JS1": {
      "main": [
        [
          {
            "node": "Update Context JS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Critic1": {
      "main": [
        [
          {
            "node": "Assemble Kimi Payload JS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi Critic1": {
      "main": [
        [
          {
            "node": "Merge Verdicts JS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Kimi Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Kimi Critic1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read penalcode architect.yaml1": {
      "main": [
        [
          {
            "node": "v_architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-processor JS1": {
      "main": [
        [
          {
            "node": "DeepSeek Critic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Kimi Payload JS1": {
      "main": [
        [
          {
            "node": "Kimi Critic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read penalcode.views.py": {
      "main": [
        [
          {
            "node": "v_views",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read tests_views.py": {
      "main": [
        [
          {
            "node": "v_tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requirements_views.json": {
      "main": [
        [
          {
            "node": "v_requirements_layer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read context_views.json": {
      "main": [
        [
          {
            "node": "v_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read DEBT_LOG_views.md": {
      "main": [
        [
          {
            "node": "v_debtlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v_architect": {
      "main": [
        [
          {
            "node": "Read requirements.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v_views": {
      "main": [
        [
          {
            "node": "Read tests_views.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v_debtlog": {
      "main": [
        [
          {
            "node": "requirements_views.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v_requirements_layer": {
      "main": [
        [
          {
            "node": "Read context_views.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v_context": {
      "main": [
        [
          {
            "node": "Assemble Payload JS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v_tests": {
      "main": [
        [
          {
            "node": "Read DEBT_LOG_views.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read requirements.txt": {
      "main": [
        [
          {
            "node": "v_requirements_parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v_requirements_parent": {
      "main": [
        [
          {
            "node": "Read penalcode.views.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi Run Trigger": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek Critic2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Payload JS2": {
      "main": [
        [
          {
            "node": "Pre-processor JS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Context JS2": {
      "main": [
        [
          {
            "node": "Format Cline Prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cline Prompt2": {
      "main": [
        [
          {
            "node": "Write CRITIC_REPORT.md2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Verdicts JS2": {
      "main": [
        [
          {
            "node": "Update Context JS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Critic2": {
      "main": [
        [
          {
            "node": "Assemble Kimi Payload JS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi Critic2": {
      "main": [
        [
          {
            "node": "Merge Verdicts JS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Kimi Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Kimi Critic2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read penalcode architect.yaml2": {
      "main": [
        [
          {
            "node": "Extract architect.yaml1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract architect.yaml1": {
      "main": [
        [
          {
            "node": "requirements.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-processor JS2": {
      "main": [
        [
          {
            "node": "DeepSeek Critic2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DEBT_LOG.md1": {
      "main": [
        [
          {
            "node": "requirements_models.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Kimi Payload JS2": {
      "main": [
        [
          {
            "node": "Kimi Critic2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract requirements_models.json1": {
      "main": [
        [
          {
            "node": "Read context_models.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract context_models.json1": {
      "main": [
        [
          {
            "node": "Assemble Payload JS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read context_models.json1": {
      "main": [
        [
          {
            "node": "Extract context_models.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requirements_models.json1": {
      "main": [
        [
          {
            "node": "Extract requirements_models.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requirements.json1": {
      "main": [
        [
          {
            "node": "Extract requirements.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract requirements.json1": {
      "main": [
        [
          {
            "node": "Read penalcode.signals.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read penalcode.signals.py": {
      "main": [
        [
          {
            "node": "Extract signals.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract signals.py": {
      "main": [
        [
          {
            "node": "Read tests_signals.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read tests_signals.py": {
      "main": [
        [
          {
            "node": "Extract tests_signals.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract tests_signals.py": {
      "main": [
        [
          {
            "node": "Read DEBT_LOG_signals.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read DEBT_LOG_signals.md": {
      "main": [
        [
          {
            "node": "Extract DEBT_LOG.md1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b41fe37c800fdc064db246996dab98d8edb6a2663a95c1fbdc35c1cf1ff32d43"
  }
}